:root {
    --culoare-fundal: #FDF6E4;     
    --culoare-accent: #447EF2;     
    --culoare-header: #915362;     
    --culoare-footer: #021859;     
    --culoare-sectiuni: #91615D;   
    --font-size-text: 1.2rem;
    --padding-text: 30px;
}


/*  TASK 1 - LAYOUT GENERAL - FONT ȘI DIMENSIUNI */
html {
    font-size: 16px;
    transition: font-size 0.5s ease;
}
body {
    font-family: 'Playfair Display', serif;
    --spatiere-pagina: 80px;

   
    --culoare-background: var(--culoare-fundal);
    --culoare-text: var(--culoare-footer);
    --culoare-border: var(--culoare-accent);
    --culoare-highlight: var(--culoare-header);
    --culoare-sectiune: var(--culoare-sectiuni);
}
main {
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
p, li, td, th, a, summary, details, section {
    font-size: var(--font-size-text);
    line-height: 1.5;
}

/*  TASK 2 - DESIGN RUDIMENTAR - HEADER ȘI FOOTER CU STILIZARE */
header, footer {
    border: 2px solid var(--culoare-accent);
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    padding: 15px;
}
header {
    background-color: var(--culoare-header);
    position: relative;
  overflow: visible;
  z-index: 100;
    color: black;
}

nav {
    position: relative;
    z-index: 200;
  }

footer {
    background-color: var(--culoare-footer);
    color: white;
}

/*  TASK 3 - GRID LAYOUT STRUCTURA PAGINII */
#grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "one one one one"
        "one one one one"
        "one one one one"
        "one one one one"
        "three two two four"
        "three two two four"
        "five two two four"
        "five two two four"
        "five six six seven"
        "five six six seven"
        "eight eight eight eight"
        "eight eight eight eight"
        "footer footer footer footer"
        "footer footer footer footer";
    gap: 30px;
    padding: 40px;
   
}
#grid-pagina > * {
    border: 1px solid var(--culoare-accent);
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: var(--padding-text);
    box-sizing: border-box;
}
#grid-pagina > section {
    background-color: var(--culoare-fundal);
}
header { grid-area: header; }
#zona1 { grid-area: one; }
#zona2 { grid-area: two; }
#zona3 { grid-area: three; }
#zona4 { grid-area: four; }
#zona5 { grid-area: five; }
#zona6 { grid-area: six; }
#zona7 { grid-area: seven; }
#zona8 { grid-area: eight; }


footer { grid-area: footer; }

/*  TASK 4 - MEDIA RESPONSIVE - IMAGINI ȘI VIDEO */
img {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}
iframe, video {
    width: 100%;
    height: auto;
    display: block;
}

/* TASK 5 - TABURI CU IFRAME - YOUTUBE */
.taburi-iframe > a {
    display: block;
    width: 180px;               /* mai îngust */
    height: 50px;               /* mai scund */
    line-height: 50px;          /* centrare pe verticală */
    font-size: 0.7rem;          /* text mai mic */
    border: 1px solid var(--culoare-footer);
    background-color: var(--culoare-accent);
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.container-iframe {
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /*  mută TOT ce e înăuntru în dreapta */
    gap: 10px;
}

.taburi-iframe {
    display: flex;
    justify-content: flex-end; /*  păstrează butoanele în dreapta */
    gap: 10px;
}
.container-iframe > iframe {
    width: 100%;
    height: 400px;
}

.taburi-iframe > a:hover {
    background-color: var(--culoare-footer); /* verde închis */
   
    border-color: var(--culoare-sectiuni); /* opțional: alt contur */
    cursor: pointer;
}
/*  TASK 6 - STILIZARE TABEL */
.tabel-container {
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 5px double var(--culoare-sectiuni);
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: var(--culoare-fundal);
}
caption {
    caption-side: bottom;
    font-weight: bold;
    padding: 10px;
}
th, td {
    border: 1px solid var(--culoare-sectiuni);
    padding: 8px;
    transition: all 0.75s ease;
}
tbody tr:hover td {
    background-color: var(--culoare-accent);
    color: var(--culoare-fundal);
    border-width: 5px;
}
tbody td:nth-child(odd),
thead th:nth-child(odd),
tfoot td:nth-child(odd) {
    color: var(--culoare-footer);
}
tbody td:nth-child(even),
thead th:nth-child(even),
tfoot td:nth-child(even) {
    color: var(--culoare-header);
}

/* TASK 7 - MEDIA QUERIES - RESPONSIVE DESIGN */
@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
        transition: font-size 0.5s ease;
    }
    body {
        --spatiere-pagina: 50px;
    }
    .tabel-container {
        overflow-x: auto;
    }
    .tabel-container table {
        min-width: 900px;
    }
    img, video {
        max-width: 700px;
        min-width: 200px;
    }
    iframe {
        width: 100%;
        height: auto;
        display: block;
    }
    #grid-pagina {
        gap: 15px;
    }
    :root {
        --padding-text: 12px;
    }
}
@media screen and (max-width: 800px) {
    #grid-pagina {
        display: block;
        gap: 10px;
    }
    .tabel-container {
        overflow-x: auto;
    }
    html {
        font-size: 12px;
        transition: font-size 0.5s ease;
    }
    body {
        --spatiere-pagina: 20px;
    }
    img, iframe, video {
        max-width: 300px;
        min-width: 150px;
    }
    :root {
        --padding-text: 8px;
    }
}

/*  TASK 8 - LINK SUS - BUTON ROTUND CU SĂGEATĂ STATICĂ */
#link-top {
    position: fixed;
    bottom: 1em;
    left: 1em;
    width: 6rem;
    height: 6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#cerc {
    width: 100%;
    height: 100%;
    border: 5px dashed var(--culoare-accent);
    border-radius: 50%;
    background: radial-gradient(circle, var(--culoare-sectiuni), var(--culoare-fundal) 50%, var(--culoare-sectiuni));
    transition: transform 500ms ease, opacity 500ms ease;
    opacity: 0.5;
    box-sizing: border-box;
}
#link-top:hover #cerc {
    opacity: 1;
    transform: rotate(360deg);
}
#triunghi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--culoare-footer);
    font-family: Arial, sans-serif;
    pointer-events: none;
}


ul.meniu li ul li {
    padding: 0;
    height: var(--inaltime-meniu);
    line-height: var(--inaltime-meniu);
    text-align: center;
}

ul.meniu li ul {
    width: var(--latime-buton);
}

ul.meniu li ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: var(--inaltime-meniu);
    text-align: center;
}


/* Ascund watermark-ul în modul normal (pe ecran) */
.watermark {
    display: none;
  }



  #ip-afisat {
    display: block !important;
    position: relative;
    color: black;
    font-weight: bold;
  }
  


  /*task 5 duotone*/

  .zona-cu-duotone {
    position: relative;
    overflow: hidden;
}

.fundal-zona {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/resurse/imagini/task5_duotone.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.8s ease;
    z-index: 1;
}

/* Efect duotone cu before și after pe fundal */
.fundal-zona::before,
.fundal-zona::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    pointer-events: none;
}

.fundal-zona::before {
    background-color: #447EF2;
}

.fundal-zona::after {
    background-color: #915362;
}

/* Hover: doar fundalul devine gri */
.zona-cu-duotone:hover .fundal-zona {
    filter: grayscale(100%);
}

/* Conținutul normal deasupra */
.continut-zona {
    position: relative;
    z-index: 2;
    padding: 2rem; /*  padding ca să nu stea lipit */
}


/*Task 5 hr */
.linie-stilizata {
    border: none;
    height: 12px;
    background: linear-gradient(
        225deg,
        transparent 0%,
        transparent 5%,
        var(--culoare-accent) 5%,
        var(--culoare-accent) 20%,
        transparent 20%,
        transparent 25%,
        var(--culoare-accent) 25%,
        var(--culoare-accent) 75%,
        transparent 75%,
        transparent 80%,
        var(--culoare-accent) 80%,
        var(--culoare-accent) 95%,
        transparent 95%,
        transparent 100%
    );
}


/*Etapa 5 background fix+schimbare automata img*/
.sectiune-background-schimbator {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    animation: schimbare-bg 15s infinite alternate;
    transition: background-image 1s ease-in-out;
  }
  
  @keyframes schimbare-bg {
    0% {
      background-image: url('/resurse/imagini/bg1.jpg');
    }
    50% {
      background-image: url('/resurse/imagini/bg2.jpg');
    }
    100% {
      background-image: url('/resurse/imagini/bg3.jpg');
    }
  }


  /*Etapa 5:text care se plimba orizontal*/
  .zona-scroll-text {
    overflow: hidden;/*ascunde marginile în afara secțiunii.*/
    width: 100%;
    background-color: var(--culoare-accent); 
    padding: 10px 0;
    position: relative;
  }
  
  .scroll-text span {
    display: inline-block;
    white-space: nowrap; /* textul rămâne pe o singură linie.*/
    padding-left: 100%;
    animation: scroll-horizontal 20s linear infinite;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  @keyframes scroll-horizontal {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
  }
  
  /*Etapa 5 galerie statica*/
/* === GRID MARE === */



#gr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
}

#gr figure {
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  transition: transform 1.25s ease;
}


#gr .gol {
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1; /* pătrat  */
  overflow: hidden;
}

#gr figure img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
   transition: transform 1.25s ease;
  transform-origin: bottom center; /* foarte important pentru efectul corect */
}

#gr figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f5dada;
  color: #000;
  font-size: 0.9em;
  padding: 0.5em 0;
  transition: all 1.25s ease;
  z-index: 2;
}

#gr figcaption {
  position: absolute;
  bottom: 0.3em;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}
/*  
/* Poziționare fixă pe grilă pentru fiecare din cele 12 poziții (poz0 – poz11) */
.poz0  { grid-column: 1 !important; grid-row: 1 !important; }
.poz1  { grid-column: 2 !important; grid-row: 1 !important; }
.poz2  { grid-column: 3 !important; grid-row: 1 !important; }
.poz3  { grid-column: 4 !important; grid-row: 1 !important; }

.poz4  { grid-column: 1 !important; grid-row: 2 !important; }
.poz5  { grid-column: 2 !important; grid-row: 2 !important; }
.poz6  { grid-column: 3 !important; grid-row: 2 !important; }
.poz7  { grid-column: 4 !important; grid-row: 2 !important; }

.poz8  { grid-column: 1 !important; grid-row: 3 !important; }
.poz9  { grid-column: 2 !important; grid-row: 3 !important; }
.poz10 { grid-column: 3 !important; grid-row: 3 !important; }
.poz11 { grid-column: 4 !important; grid-row: 3 !important; } 


 

/* === ECRAN MEDIU === */
@media screen and (max-width: 900px) {
  #gr {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }


}

/* === ECRAN MIC === */
@media screen and (max-width: 600px) {
  #gr {
    grid-template-columns: 1fr;
  }
}


/* Tranziție la hover */
#gr figure:hover img {
  transform: translateY(-15%) scale(1.3); /* impinge in sus si mareste */
}

#gr figure:hover figcaption {
  background-color: #021859; 
  color: white;
}
